<html>

<head>
  <title>Ολοκλήρωση κατάθεσης υποψηφιότητας</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css"
    integrity="sha256-Ww++W3rXBfapN8SZitAvc9jw2Xb+Ixt0rvDsmWmQyTo=" crossorigin="anonymous">
  <style>
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h3><%=model.electionEvent.name%></h3>
        <p>Αγαπητέ κύριε/κυρία</p>
        <p>Δέχεστε αυτό το μήνυμα για να μπορέσετε να καταθέσετε την επιλογή σας για την ψηφοφορία
          <%=model.electionEvent.name%>.</p>
        <p>Ακολουθήστε τον παρακάτω σύνδεσμο για να μπορέσετε να ολοκληρώσετε την διαδικασία.
        </p>
        <p>Η συμμετοχή σας στην ψηφοφορία είναι ανώνυμη. Για το λόγο αυτό θα θέλαμε να σας επισημάνουμε ότι δεν πρέπει
          να κοινοποιήσετε αυτό το σύνδεσμο σε κάποιον τρίτο.
        </p>
        <p>Ο σύνδεσμος αυτός απενεργοποιείται αυτόματα μετά την ολοκλήρωση της επιλογής σας.</p>
        <p>
          <a href="<%=model.url%>">Καταθέστε την επιλογή σας για την ψηφοφορία</a>
        </p>
        <div>
          <small class="text-secondary">Αν δεν μπορέσετε να ακολουθήσετε τον παραπάνω σύνδεσμο χρησιμοποιήστε την
            διεύθυνση:
            <span><%=model.url%></span></small>
        </div>
        <p class="mt-2">
          Αν θέλετε να παρακολουθείτε την πορεία της ψηφοφορίας πατήστε <a href="<%=model.overviewUrl%>">εδώ</a>
        </p>
        <p class="mt-2">
          <small>Σημαντική σημείωση: Αν δεχθήκατε αυτό το μήνυμα χωρίς να έχετε κάποια σχέση με την συγκεκριμένη
            ψηφοφορία
            αγνοήστε το.</small>
        </p>

      </div>
    </div>
  </div>
</body>

</html>